* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, .container {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #000000;
  color: #fff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #000000;
  z-index: 10;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: #0c9b65; /* Hover effect on nav links */
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.image-section {
  flex: 1;
  height: 100%;
}

.image-section img {
  width: 100%; /* Ensure image takes full width of its container */
  max-height: 130vh; /* Restrict image height */
  object-fit: cover; /* Crop image if it exceeds max height/width */
}

.text-section {
  flex: 1;
  background-color: #1c1c1c;
  padding: 210px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-section h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #fff;
}

.text-section span {
  font-weight: bold;
  color: #0a8b45;
}

.text-section p {
  margin-bottom: 30px;
  color: #bbb;
  font-size: 1.2rem;
}

.strengths-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;
}

.strengths-list li {
  font-size: 1.2rem;
  color: #F1F5F9;
  margin-bottom: 1rem;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.primary-btn,
.video-btn {
  padding: 12px 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.primary-btn {
  background-color: #ffffff;
  color: #0a8b45;
  transition: background-color 0.3s ease;
}

.primary-btn:hover {
  background-color: #101010; /* Darker blue on hover */
}

.video-btn {
  background: none;
  color: #fff;
  border: 2px solid #fff;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.video-btn:hover {
  border-color: #3498db;
  color: #3498db; /* Change color on hover */
}

.page-number {
  color: #888;
  font-size: 14px;
  text-align: right;
  margin-top: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .image-section img {
    max-height: 50vh; /* Reduce image size on mobile */
  }

  .text-section {
    padding: 60px 20px;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }
}
